html {
    font-family: 'Poppins', sans-serif;
}

.carousel_n {
    position: relative;
    width: 100%;
    max-width: 900px; /* Set a maximum width for the carousel */
    margin: auto;
    overflow: hidden; /* Hide overflow */
}

.carousel-inner_n {
    display: flex;
    
    transition: transform 0.5s ease-in-out;
}

.carousel-item_n {
    width: calc(100% / 3); 
    flex-grow: 1;
    flex-shrink: 0;
    padding: 40px !important;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control-prev_n,
.carousel-control-next_n {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev_n {
    left: 10px;
}

.carousel-control-next_n {
    right: 10px;
}
